.forgotPasswordForm {
  padding: 15px;
  background-color: #ffffffd9;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid #acb0bb;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
}

.infoItem {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}

.icon {
  width: 16px;
  fill: #f7941d;
  flex-shrink: 0;
}

.ruler,
.blueRuler {
  margin: 13px -15px;
}

.blueRuler {
  border-top: 2px solid #4a87e3;
}

.usernameInstructions {
  margin-bottom: 13px;
  font-weight: 700;
  color: #000000;
}

.resetEmailButton {
  font-size: 12px;
  background: #4a87e3;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 4px 10px;
  font-weight: 700;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.resetEmailButton:hover {
  background-color: #437acc;
}