.forgotPasswordForm {
  padding: 15px;
  background-color: #ffffffd9;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  border-radius: 3px;
  border: 1px solid #acb0bb;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoItem {
  display: flex;
  flex: 1;
}

.icon {
  width: 13px;
  color: #f7941d;
  fill: #f7941d;
}