.forgotPasswordLink {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgotPasswordLink:hover {
  text-decoration: underline;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #e74c3c;
  background-color: #ffffffd9;
  font-weight: 700;
  margin: 1em -20px;
  padding: 10px 5px;
}