.expirationText>p {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.resetPasswordLink {
  font-size: 12px;
  background: #4a87e3;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 4px 10px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.resetPasswordLink:hover {
  background-color: #437acc;
}